html,
body,
#app {
  margin: 0;
  padding: 0;
}

html.dark {
  background: #222;
  color: white;
}

a {
  font-weight: 400;
  color: var(--el-color-primary);
}

// .box-container {
//   /* width: 100%;
//   max-width: 1200px;
//   margin: 0 auto; */
//   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
//   background-color: #fff;
//   @apply p-3;
// }
// .box-wrapper {
//   /* width: 100%;
//   max-width: 1200px;
//   margin: 0 auto; */
// }
// * {
//   user-select: none;
// }
// *:focus-visible {
//   border: none !important;
//   outline: none !important;
// }
